.container {
  max-width: 1920px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* @media (max-width: 1600px) {
    max-width: 1600px;
  }

  @media (max-width: 1280px) {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 1080px) {
    max-width: 1080px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 992px) {
    max-width: 992px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 767px) {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
} */
