.menu {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1180px) {
    width: 620px;
  }

  @media (max-width: 767px) {
    justify-content: center;
  }

  @media (max-width: 680px) {
    display: block;
    width: 100%;
  }
}

.menu li {
  font-family: inherit;
  font-size: clamp(17px, 1.03vw, 21px);
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 1600px) {
    font-size: clamp(13px, 1vw, 16px);
  }

  @media (max-width: 1180px) {
    font-size: 16px;
    margin-bottom: 20px;
  }

  @media (max-width: 680px) {
    font-size: 17px;
    margin-bottom: 15px;
  }

  @media (max-width: 380px) {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.menu li:not(:last-child) {
  margin-right: 40px;

  @media (max-width: 1600px) {
    margin-right: 24px;
  }

  @media (max-width: 1280px) {
    margin-right: 10px;
  }

  @media (max-width: 1180px) {
    margin-right: 30px;
  }

  @media (max-width: 1080px) {
    margin-right: 20px;
  }

  @media (max-width: 680px) {
    margin-right: 0;
  }
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
}

a.menu__link-active {
  color: #91a84a;
  background-color: #ffffff;
}
